@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import "tailwindcss";

@theme{
    --font-pacifico: 'Pacifico', cursive;
    --font-bagel-fat-one: 'Bagel Fat One', cursive;
}